{
    "env": {
        "browser": true,
        "es6": true,
        "node": true
    },
    "extends": ["airbnb", "airbnb/hooks"],
    "rules": {
        "semi": "off",
        "max-len": ["error", 160],
        "no-plusplus": "off",
        "no-unused-vars": "off",
        "class-methods-use-this": "off",
        "quotes":"off",
        "padded-blocks":"off",
        "arrow-body-style":"off",
        "indent":"off",
        "keyword-spacing":"off",
        "no-trailing-spaces":"off",
        "eol-last":"off",
        "object-curly-newline":"off",
        "eslint-plugin-import/newline-after-import":"off",
        "no-multiple-empty-lines":"off",
        "arrow-spacing":"off",
        "function-paren-newline":"off",
        "lines-between-class-members":"off",
        "comma-dangle":"off",
        "object-curly-spacing":"off",
        "brace-style":"off",
        "space-before-blocks":"off",
        "no-undef":"off",
        "implicit-arrow-linebreak":"off",
        "no-unused-expressions":"off"

    },
   "parser": "@babel/eslint-parser",
  "parserOptions": {
    "requireConfigFile": false, 
    "babelOptions": {
      "presets": ["@babel/preset-env", "@babel/preset-react"]
    }
  }
}